<div class="card">
  <div class="card-header">
    Créer une entreprise :
  </div>

  <div class="card-body">
    <form novalidate (ngSubmit)="save()" [formGroup]="enterpriseForm">

      <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="nameId">First Name</label>
          <div class="col-md-8">
              <input
                    class="form-control"
                    id="nameId"
                    type="text"
                    placeholder="Nom de l'entreprise (Obligatoire!)"
                    formControlName="name"
                    [ngClass]="{'is-invalid': (enterpriseForm.get('name')?.touched || enterpriseForm.get('name')?.dirty) && !enterpriseForm.get('name')?.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="enterpriseForm.get('name')?.errors?.required">
              Veuillez saisir un nom d'entreprise
            </span>
            <span *ngIf="enterpriseForm.get('name')?.errors?.minlength">
              Le nom doit comporter au moins 3 caractères
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="LocationId">Localisation</label>
        <div class="col-md-8">
            <input
                  class="form-control"
                  id="LocationId"
                  type="text"
                  placeholder="Ville du siège social (Obligatoire!)"
                  formControlName="location"
                  [ngClass]="{'is-invalid': (enterpriseForm.get('location')?.touched || enterpriseForm.get('location')?.dirty) && !enterpriseForm.get('location')?.valid }" />
        <span class="invalid-feedback">
          <span *ngIf="enterpriseForm.get('location')?.errors?.required">
            Veuillez saisir un ville de résidence pour l'entreprise
          </span>
          <span *ngIf="enterpriseForm.get('location')?.errors?.minlength">
            Le ville doit comporter au moins 3 caractères
          </span>
        </span>
      </div>
    </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  type="submit"
                  style="width:80px"
                  [title]="enterpriseForm.valid ? 'Sauvegarde de vos données' : 'Veuillez corriger les erreurs du formulaire '"
                  [disabled]="!enterpriseForm.valid">
            Save
          </button>

        </div>
      </div>


    </form>
