<div class='card'>
    <div class='card-header'>
      {{PageTitle}}
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-2'>Filter by:</div>
        <div class='col-md-4'>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
        </div>
      </div>
      <div class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Emploi</th>
              <th>Employeur</th>
              <th>Expérience</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let person of People'
                (click)="personDetails(person.personId)">
              <td>{{ person.lastName }}</td>
              <td>{{ person.firstName }}</td>
              <td>{{ person.job }}</td>
              <td>{{person.entrepriseName}}</td>
              <td>{{person.experience}}</td>
              <td>
                <button class='btn btn-outline-secondary'
                      [routerLink]="['/Person', person.personId, 'edit']">
                  <i class='fa fa-edit'></i>
                </button>

                <button class='btn btn-outline-secondary'
                        (click)='OnDelete(person.personId)'>
                  <i class='fa fa-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
