<div class='card'>
  <form novalidate (ngSubmit)="save()" [formGroup]="contractForm">
    <div class="card-header">
        <h1>
          <div class='row'>
          <div class="col-md">
            <label for="name">Intitulé de mission</label>
            <input
                  class="form-control"
                  id="name"
                  type="text"
                  placeholder="Intitulé de mission"
                  formControlName="name"
                  title="Intitulé de mission">
            <span class="invalid-feedback">
              <span *ngIf="contractForm.get('name')?.errors?.required">
                Veuillez saisir un intitulé pour la mission
              </span>
              <span *ngIf="contractForm.get('name')?.errors?.minlength">
                L'intitulé doit faire au moins 3 caractères
              </span>
            </span>
          </div>
          </div>
         </h1>
    </div>

    <div class="card-body" *ngIf="contract" >

    <div class='row'>

      <div class="col-md">
        <label for="creationDate">Date d'émission</label>
        <input
              class="form-control"
              id="creationDate"
              type="date"
              placeholder="Date de création du mandat"
              formControlName="creationDate"
              title="Date de céation du mandat">
        <span class="invalid-feedback">
          <span *ngIf="contractForm.get('creationDate')?.errors?.required">
            Veuillez saisir une date pour le début de mission
          </span>
          <span *ngIf="contractForm.get('creationDate')?.errors?.minlength">
            Veuillez saisir un format correct pour la date
          </span>
        </span>
      </div>

      <div class="col-md">
        <label for="limitDate">Date limite</label>
        <input
              class="form-control"
              id="limitDate"
              type="date"
              placeholder="Date limite du mandat"
              formControlName="limitDate"
              title="Date limite du mandat">
        <span class="invalid-feedback">
          <span *ngIf="contractForm.get('limitDate')?.errors?.required">
            Veuillez saisir une date pour la fin du mnadat
          </span>
          <span *ngIf="contractForm.get('limitDate')?.errors?.minlength">
            Veuillez saisir un format correct pour la date
          </span>
        </span>
      </div>

    </div>

    <div class="col-xs-12">
      <label for="mission">Descriptif de la mission</label>
      <textarea
            type="text"
            class="form-control text-justify"
            name="mission"
            id="mission"
            rows="5"
            formControlName="mission"
            title="Descriptif de la mission"></textarea>
    </div>

    <div class='card-footer'>
        <button class='btn btn-outline-primary'
                style='width:80px'
                (click)='onBack()'>
          <i class='fa fa-chevron-left'></i> Back
        </button>

      </div>
  </div>
</form>

