<div class='card'>
    <div class='card-header'>
      {{PageTitle}}
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-2'>Filter by:</div>
        <div class='col-md-4'>

        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>

        </div>
      </div>
      <div class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Localisation</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let enterprise of Enterprises'>
              <td>{{enterprise.enterpriseId}}</td>
              <td>
                <a [routerLink]="['/Entreprises', enterprise.enterpriseId]">
                {{ enterprise.name }}</a></td>
              <td>{{ enterprise.location }}</td>
            </tr>
          </tbody>
          <div class='card-footer'>
            <button class='btn btn-outline-secondary'
                    style='width:80px'
                    onclick="">
              <i class='fa fa-plus-circle'></i> New
            </button>
          </div>
        </table>
      </div>
    </div>

  </div>
