<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'>{{pageTitle}}</a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLink='/welcome'>Home</a></li>
    <li><a class='nav-link' routerLink='/Entreprises'>Liste des entreprises</a></li>
    <li><a class='nav-link' routerLink='/Person'>Liste de personnes</a></li>
    <li><a class='nav-link' routerLink='/Contract'>Liste des mandats</a></li>
  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>
