<div class='card'>
  <form novalidate (ngSubmit)="save()" [formGroup]="personForm">
    <div class="card-header">
        <h1>
          <div class='row'>
          <div class="col-md">
            <label for="firstName">Prénom</label>
            <input
                  class="form-control"
                  id="firstName"
                  type="text"
                  placeholder="Prénom du candidat"
                  formControlName="firstName"
                  title="Prénom du candidat">
            <span class="invalid-feedback">
              <span *ngIf="personForm.get('firstName')?.errors?.required">
                Veuillez saisir le prénom du candidat
              </span>
              <span *ngIf="personForm.get('firstName')?.errors?.minlength">
                Le prénom doit comporter au moins 3 caractères
              </span>
            </span>
          </div>

          <div class="col-md">
            <label for="lastName">Nom</label>
            <input
                  class="form-control"
                  name="lastName"
                  id="lastName"
                  formControlName="lastName"
                  placeholder="Nom du candidat"
                  title="Nom de famille du candidat">
            <span class="invalid-feedback">
              <span *ngIf="personForm.get('lastName')?.errors?.required">
                Veuillez saisir un nom pour le candidat
              </span>
              <span *ngIf="personForm.get('lastName')?.errors?.minlength">
                Le courriel n'est pas au bon format
              </span>
            </span>
          </div>
          </div>
         </h1>
        <h4>
          <div class="col-md">
            <label for="job">Intitulé du poste</label>
            <input
                  class="form-control"
                  name="job"
                  id="job"
                  placeholder="Intitulé du poste"
                  formControlName="job"
                  title="Emploi du candidat">
            <span class="invalid-feedback">
              <span *ngIf="personForm.get('job')?.errors?.required">
                Veuillez saisir un intitulé de poste
              </span>
              <span *ngIf="personForm.get('job')?.errors?.minlength">
                L'intitulé doit comporter au moins 3 caractère
              </span>
            </span>
          </div>
        </h4>
    </div>

    <div class="card-body" *ngIf="person" >

      <div class='row'>

        <div class="col-md" >
          <label for="EntrepriseListId">Entreprise</label>
          <select formControlName="entrepriseId" >
            <option *ngFor="let enterprise of EnterpriseList" [value]="enterprise.enterpriseId">{{enterprise.publicName}}</option>
          </select>
        </div>

        <div class="col-md">
          <label for="Gender">Sexe</label>
          <select formControlName="Gender" >
            <option [value] = 2> Femme </option>
            <option [value] = 3> Homme </option>
            </select>
        </div>


      </div>

      <div class='row'>

      <div class="col-md">
        <label for="emailAdressId">Courriel</label>
        <input
              class="form-control"
              id="emailAdressId"
              type="text"
              placeholder="em@il.com"
              formControlName="emailAdress"
              title="Courriel du candidat">
        <span class="invalid-feedback">
          <span *ngIf="personForm.get('emailAdress')?.errors?.required">
            Veuillez saisir une adresse courriel pour le candidat
          </span>
          <span *ngIf="personForm.get('emailAdress')?.errors?.minlength">
            Le courriel n'est pas au bon format
          </span>
        </span>
      </div>

      <div class="col-md">
        <label for="phoneNumber">Téléphone</label>
        <input
              class="form-control"
              name="phoneNumber"
              id="phoneNumber"
              formControlName="phoneNumber"
              placeholder="06 XX XX XX XX"
              title="Numéro de téléphone du candidat">
        <span class="invalid-feedback">
          <span *ngIf="personForm.get('phoneNumber')?.errors?.required">
            Veuillez saisir une adresse courriel pour le candidat
          </span>
          <span *ngIf="personForm.get('phoneNumber')?.errors?.minlength">
            Le courriel n'est pas au bon format
          </span>
        </span>
      </div>

      <div class="col-md">
        <label for="linkedIn">LinkedIn</label>
        <input
              class="form-control"
              name="linkedIn"
              id="linkedIn"
              formControlName="linkedIn"
              placeholder="www.LinkedIn.com/candidat"
              [ngClass]="{'is-invalid': (personForm.get('linkedIn')?.touched || personForm.get('linkedIn')?.dirty) && !personForm.get('linkedIn')?.valid }"
              title="Lien vers le profil LinkedIn du candidat">
        <span class="invalid-feedback">

          <span *ngIf="personForm.get('linkedIn')?.errors?.minlength">
            Le courriel n'est pas au bon format
          </span>
        </span>
      </div>

    </div>



    <div class='row'>

      <div class="col-md">
        <label for="city">Ville</label>
        <input
                class="form-control"
                name="city"
                placeholder="Ville"
                id="city"
                formControlName="city"
                [ngClass]="{'is-invalid': (personForm.get('city')?.touched || personForm.get('city')?.dirty) && !personForm.get('city')?.valid }">
        <span class="invalid-feedback">
          <span *ngIf="personForm.get('city')?.errors?.required">
            Veuillez saisir une ville
          </span>
          <span *ngIf="personForm.get('city')?.errors?.minlength">
            La ville doit comporter au moins 3 caractères
          </span>
        </span>
      </div>

      <div class="col-md">
        <label for="zipCode">Code postal</label>
        <input
                type="text"
                class="form-control"
                name="zipCode"
                id="zipCode"
                placeholder="92100"
                value="{{person.zipCode}}"
                formControlName="zipCode"
                title="Code postal du candidat">
        <span class="invalid-feedback">
          <span *ngIf="personForm.get('zipCode')?.errors?.required">
            Veuillez saisir un code postal
          </span>
          <span *ngIf="personForm.get('zipCode')?.errors?.minlength">
            Le code postal doit être composé de 5 chiffres
          </span>
        </span>
      </div>

    </div>



    <div class="col-xs-12">
      <label for="introductionSpeech">Notes</label>
      <textarea
            type="text"
            class="form-control text-justify"
            name="introductionSpeech"
            id="introductionSpeech"
            rows="5"
            formControlName="notes"
            title="introduction du candidat"></textarea>
    </div>

    <div class='card-footer'>
        <button class='btn btn-outline-primary'
                style='width:80px'
                (click)='onBack()'>
          <i class='fa fa-chevron-left'></i> retour
        </button>



        <button class="btn btn-outline-primary  pull-right"
                type="submit"
                style="width:80px"
                [title]="personForm.valid ? 'Sauvegarde de vos données' : 'Veuillez corriger les erreurs du formulaire '"
                >
                <i class='fa fa-save'>Valider</i>
        </button>

      </div>
  </div>
</form>

