<div class="card">
  <div class="card-header">
    <h1>{{pageTitle}} :</h1>
  </div>

  <div class="card-body">
    <form novalidate (ngSubmit)="save()" [formGroup]="enterpriseForm">

      <div class='row'>
        <div class="col-md">

          <label class="col-md col-form-label" for="nameId">Nom de l'entreprise</label>
          <div class="form-group row mb-2">
            <div class="col-md">
              <input
                        class="form-control"
                        id="nameId"
                        type="text"
                        placeholder="Nom de l'entreprise (Obligatoire!)"
                        formControlName="publicName"
                        [ngClass]="{'is-invalid': (enterpriseForm.get('publicName')?.touched || enterpriseForm.get('publicName')?.dirty) && !enterpriseForm.get('publicName')?.valid }" />
              <span class="invalid-feedback">
                <span *ngIf="enterpriseForm.get('publicName')?.errors?.required">
                  Veuillez saisir un nom d'entreprise
                </span>
                <span *ngIf="enterpriseForm.get('publicName')?.errors?.minlength">
                  Le nom doit comporter au moins 3 caractères
                </span>
              </span>
            </div>
          </div>

        </div>

        <div class="col-md">

          <label class="col-md col-form-label" for="siretId">Numéro SIRET</label>
          <div class="form-group row mb-2">
            <div class="col-md">
              <input
                class="form-control"
                id="siretId"
                type="number"
                placeholder="Numéro SIRET (Obligatoire!)"
                formControlName="siret"
                [ngClass]="{'is-invalid': (enterpriseForm.get('siret')?.touched || enterpriseForm.get('siret')?.dirty) && !enterpriseForm.get('siret')?.valid }" />
              <span class="invalid-feedback">
                <span *ngIf="enterpriseForm.get('siret')?.errors?.required">
                  Veuillez saisir un nom numéro SIRET
                </span>
                <span *ngIf="enterpriseForm.get('siret')?.errors?.minlength">
                  Le siret doit être composé de 14 chiffres
                </span>
                <span *ngIf="enterpriseForm.get('siret')?.errors?.maxlength">
                  Le siret doit être composé de 14 chiffres
                </span>
              </span>
            </div>
          </div>

        </div>

      </div>


      <div class='row'>

        <div class="col-md">

          <label class="col-md col-form-label" for="adress1Id">Adresse de l'entreprise</label>
          <div class="form-group row mb-2">
            <div class="col-md">
              <input
                        class="form-control"
                        id="adress1Id"
                        type="text"
                        placeholder="Adresse de l'entreprise"
                        formControlName="adress1"
                        [ngClass]="{'is-invalid': (enterpriseForm.get('adress1')?.touched || enterpriseForm.get('adress1')?.dirty) && !enterpriseForm.get('adress1')?.valid }" />
              <span class="invalid-feedback">
                <span *ngIf="enterpriseForm.get('adress1')?.errors?.required">
                  Veuillez saisir une adresse d'entreprise
                </span>
                <span *ngIf="enterpriseForm.get('adress1')?.errors?.minlength">
                  L'adresse doit comporter au moins 3 caractères
                </span>
              </span>
            </div>
          </div>

        </div>

        <div class="col-md">

          <label class="col-md col-form-label" for="adress2Id">Complément d'adresse</label>
          <div class="form-group row mb-2">
            <div class="col-md">
              <input
                        class="form-control"
                        id="adress2Id"
                        type="text"
                        placeholder="Complément d'adresse"
                        formControlName="adress2"
                        [ngClass]="{'is-invalid': (enterpriseForm.get('adress2')?.touched || enterpriseForm.get('adress2')?.dirty) && !enterpriseForm.get('adress2')?.valid }" />
              <span class="invalid-feedback">
                <span *ngIf="enterpriseForm.get('adress2')?.errors?.minlength">
                  Le complément d'adresse doit comporter au moins 3 caractères
                </span>
              </span>
            </div>
          </div>

        </div>

      </div>

      <div class='row'>

        <div class="col-md">

          <label class="col-md col-form-label" for="zipCodeId">Code postal</label>
          <div class="form-group row mb-2">
            <div class="col-md">
              <input
                        class="form-control"
                        id="zipCodeId"
                        type="number"
                        placeholder="Code postal de l'entreprise"
                        formControlName="zipCode"
                        [ngClass]="{'is-invalid': (enterpriseForm.get('zipCode')?.touched || enterpriseForm.get('zipcode')?.dirty) && !enterpriseForm.get('zipcode')?.valid }" />
              <span class="invalid-feedback">
                <span *ngIf="enterpriseForm.get('zipcode')?.errors?.required">
                  Veuillez saisir un code postal
                </span>
                <span *ngIf="enterpriseForm.get('zipcode')?.errors?.minlength">
                  L'adresse doit 5 chiffres
                </span>
                <span *ngIf="enterpriseForm.get('zipcode')?.errors?.maxlength">
                  L'adresse doit 5 chiffres
                </span>
              </span>
            </div>
          </div>

        </div>

        <div class="col-md">

          <label class="col-md col-form-label" for="cityId">Ville</label>
          <div class="form-group row mb-2">
            <div class="col-md">
              <input
                        class="form-control"
                        id="cityId"
                        type="text"
                        placeholder="Ville"
                        formControlName="city"
                        [ngClass]="{'is-invalid': (enterpriseForm.get('city')?.touched || enterpriseForm.get('city')?.dirty) && !enterpriseForm.get('city')?.valid }" />
              <span class="invalid-feedback">
                <span *ngIf="enterpriseForm.get('city')?.errors?.required">
                  Veuillez saisir une ville
                </span>
                <span *ngIf="enterpriseForm.get('city')?.errors?.minlength">
                  Le nom de la ville doit comporter au moins 1 caractère
                </span>
              </span>
            </div>
          </div>

        </div>

      </div>

      <div class='row'>

        <div class="col-md">

          <label class="col-md col-form-label" for="staffSizeId">Nombre de salariés</label>
          <div class="form-group row mb-2">
            <div class="col-md">
              <input
                        class="form-control"
                        id="staffSizeId"
                        type="number"
                        placeholder="Taille de l'entreprise"
                        formControlName="staffSize"
                        [ngClass]="{'is-invalid': (enterpriseForm.get('staffSize')?.touched || enterpriseForm.get('staffSize')?.dirty) && !enterpriseForm.get('staffSize')?.valid }" />
              <span class="invalid-feedback">
                <span *ngIf="enterpriseForm.get('staffSize')?.errors?.required">
                  Veuillez saisir un nombre de salarié
                </span>

              </span>
            </div>
          </div>

        </div>

        <div class="col-md">

          <label class="col-md col-form-label" for="creationYearId">Année de création</label>
          <div class="form-group row mb-2">
            <div class="col-md">
              <input
                        class="form-control"
                        id="creationYearId"
                        type="number"
                        formControlName="creationYear"
                        [ngClass]="{'is-invalid': (enterpriseForm.get('creationYear')?.touched || enterpriseForm.get('creationYear')?.dirty) && !enterpriseForm.get('creationYear')?.valid }" />
              <span class="invalid-feedback">
                <span *ngIf="enterpriseForm.get('creationYear')?.errors?.required">
                  Veuillez saisir une année de création
                </span>
                <!--TODO : Mettre la date max en dynamique-->
                <span *ngIf="enterpriseForm.get('creationYear')?.errors?.min">
                  L'année de création doit être compris entre 1950 et 2021
                </span>
                <span *ngIf="enterpriseForm.get('creationYear')?.errors?.max">
                  L'année de création doit être compris entre 1950 et 2021
                </span>
              </span>
            </div>
          </div>

        </div>

      </div>

      <div class='row'>

        <div class="col-md">

          <label class="col-md col-form-label" for="societeDotComId">société.com</label>
          <div class="form-group row mb-2">
            <div class="col-md">
              <input
                        class="form-control"
                        id="societeDotComId"
                        type="text"
                        placeholder="lien vers société.com"
                        formControlName="societeDotCom"
                        [ngClass]="{'is-invalid': (enterpriseForm.get('societeDotCom')?.touched || enterpriseForm.get('societeDotCom')?.dirty) && !enterpriseForm.get('societeDotCom')?.valid }" />
              <span class="invalid-feedback">
                <span *ngIf="enterpriseForm.get('societeDotCom')?.errors?.required">
                  Veuillez saisir une adresse pour le profil société.com
                </span>
                <span *ngIf="enterpriseForm.get('societeDotCom')?.errors?.minlength">
                  L'adresse doit comporter au moins 13 caractères
                </span>
              </span>
            </div>
          </div>

        </div>

        <div class="col-md">

          <label class="col-md col-form-label" for="linkedInId">LinkedIn</label>
          <div class="form-group row mb-2">
            <div class="col-md">
              <input
                        class="form-control"
                        id="linkedInId"
                        type="text"
                        placeholder="lien vers Linked in"
                        formControlName="linkedIn"
                        [ngClass]="{'is-invalid': (enterpriseForm.get('linkedIn')?.touched || enterpriseForm.get('linkedIn')?.dirty) && !enterpriseForm.get('linkedIn')?.valid }" />
              <span class="invalid-feedback">
                <span *ngIf="enterpriseForm.get('linkedIn')?.errors?.required">
                  Veuillez saisir une adresse pour le profil linkedIn
                </span>
                <span *ngIf="enterpriseForm.get('linkedIn')?.errors?.minlength">
                  L'adresse doit comporter au moins 13 caractères
                </span>
              </span>
            </div>
          </div>

        </div>

        <div class="col-md">

          <label class="col-md col-form-label" for="webSiteId">Site Web</label>
          <div class="form-group row mb-2">
            <div class="col-md">
              <input
                        class="form-control"
                        id="webSiteId"
                        type="text"
                        placeholder="Site web de l'entreprise"
                        formControlName="webSite"
                        [ngClass]="{'is-invalid': (enterpriseForm.get('webSite')?.touched || enterpriseForm.get('webSite')?.dirty) && !enterpriseForm.get('webSite')?.valid }" />
              <span class="invalid-feedback">
                <span *ngIf="enterpriseForm.get('webSite')?.errors?.required">
                  Veuillez saisir une adresse pour le site web de l'entreprise
                </span>
                <span *ngIf="enterpriseForm.get('webSite')?.errors?.minlength">
                  L'adresse doit comporter au moins 3 caractères
                </span>
              </span>
            </div>
          </div>

        </div>
      </div>



      <div class='row'>
        <div class="col-md">
          <label class="col-md col-form-label" for="introductionSpeechId">notes</label>
          <div class="form-group row mb-2">
            <div class="col-md">
                <textarea
                            class="form-control"
                            id="introductionSpeechId"
                            type="text"
                            rows="5"
                            formControlName="introductionSpeech"></textarea>
            </div>
          </div>
        </div>
      </div>


      <div class='card-footer'>
        <button class='btn btn-outline-secondary '
                    [routerLink]="['/Entreprises', enterpriseId]">
                <i class='fa fa-window-close'>Annuler</i>
        </button>
        <button class="btn btn-outline-primary  pull-right"
                type="submit"
                style="width:80px"
                [title]="enterpriseForm.valid ? 'Sauvegarde de vos données' : 'Veuillez corriger les erreurs du formulaire '"
                >
                <i class='fa fa-save'>Save</i>
        </button>

      </div>
    </form>
